# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
!/.idea/
/.idea/workspace.xml
/node_modules/
/frontend/.idea
/.idea
/frontend/.idea
