@font-face {
  font-family: 'MoscowSans';
  src: url('/public/fonts/MoscowSansRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MoscowSans';
  src: url('/public/fonts/MoscowSansBold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'IcoMoon';
  src: url('/public/fonts/icomoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#root {
  width: 100%;
  min-height: 100vh;
}

body {
  font-family: 'MoscowSans', sans-serif;
  font-weight: normal;
  background: #FFF;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  :hover {
    text-decoration: underline;
  }
}